<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>RestApi - MyFileArchive</title>
	<!--favicon-->
	<link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
	<!-- Vector CSS -->
	<link href="assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<!--plugins-->
	<link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="assets/css/pace.min.css" rel="stylesheet" />
	<script src="assets/js/pace.min.js"></script>
	<script src="assets/js/dashboard.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="assets/css/app.css" />
	<link rel="stylesheet" href="assets/css/dark-sidebar.css" />
	<link rel="stylesheet" href="assets/css/dark-theme.css" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div class="">
					<img src="assets/images/logo-icon.png" class="logo-icon-2" alt="" />
				</div>
				<div>
					<h4 class="logo-text">MyFileArchive</h4>
				</div>
				<a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
				</a>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="#">
						<div class="parent-icon icon-color-1"><i class="bx bx-home-alt"></i>
						</div>
						<div class="menu-title">Home</div>
					</a>
				</li>
				<li class="menu-label">Documentation</li>
				<!--CECAN-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">Cecan API</div>
					</a>
					<ul>
						<li> <a href="api/cecan/china?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>China</a>
						</li>
						<li> <a href="api/cecan/vietnam?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Vietnam</a>
						</li>
						<li> <a href="api/cecan/thailand?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Thailand</a>
						</li>
						<li> <a href="api/cecan/indonesia?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Indonesia</a>
						</li>
						<li> <a href="api/cecan/korea?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Korea</a>
						</li>
						<li> <a href="api/cecan/japan?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Japan</a>
						</li>
						<li> <a href="api/cecan/malaysia?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Malaysia</a>
						</li>
					</ul>
				</li>
				<!--End Cecan-->

				<!--ASUPAN-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">Asupan API</div>
					</a>
					<ul>
						<li> <a href="api/asupan/cecan?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Cecan</a>
						</li>
						<li> <a href="api/asupan/hijaber?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Hijaber</a>
						</li>
						<li> <a href="api/asupan/asupan?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Asupan</a>
						</li>
						<li> <a href="api/asupan/rikagusriani?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Rikagusriani</a>
						</li>
						<li> <a href="api/asupan/santuy?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Santuy</a>
						</li>
						<li> <a href="api/asupan/ukhty?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Ukhty</a>
						</li>
						<li> <a href="api/asupan/bocil?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Bocil</a>
						</li>
						<li> <a href="api/asupan/gheayubi?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Gheayubi</a>
						</li>
					</ul>
				</li>
				<!--End Asupan-->
				
				
				<!--Downloader-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">Downloader API</div>
					</a>
					<ul>
						<li> <a href="api/download/tiktok?url=https://vt.tiktok.com/ZSekUmEmL/&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Tiktok Downloader</a>
						</li>
						<li> <a href="api/download/facebook?url=URL&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Facebook Downloader</a>
						</li>
						<li> <a href="api/download/instagram?apikey=Alphabot&url=https://www.instagram.com/p/CVl3U2Sv1Yv/?utm_medium=copy_link"><i class="bx bx-right-arrow-alt"></i>Instagram Downloader</a>
						</li>
						<li> <a href="api/download/pinterest?q=loli&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Tiktok Downloader</a>
						</li>
						<li> <a href="api/download/ytmp3?url=https://youtu.be/-iJ3JAIh4w0&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>YouTube Audio</a>
						</li>
						<li> <a href="api/download/ytsearch?query=cara membuat bot&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Youtube Search</a>
						</li>
						<li> <a href="api/download/ytmp4?url=https://youtu.be/-iJ3JAIh4w0&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>YouTube Video</a>
						</li>
					</ul>
				</li>
				<!--End Downloader-->

				<!--News-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">News API</div>
					</a>
					<ul>
						<li> <a href="api/news/cnn?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Cnn News</a>
						</li>
						<li> <a href="api/news/cnbc?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>CnBc News</a>
						</li>
						<li> <a href="api/news/republika?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Republika News</a>
						</li>
						<li> <a href="api/news/tempo?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Tempo News</a>
						</li>
						<li> <a href="api/news/antara?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Antara News</a>
						</li>
						<li> <a href="api/news/kumparan?type=Berita&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Kumparan News</a>
						</li>
					</ul>
				</li>
				<!--End News-->

				<!--NFSW API-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">NSFW API</div>
					</a>
					<ul>
						<li> <a href="api/nsfw/ass?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Ass</a>
						</li>
						<li> <a href="api/nsfw/ahegao?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Ahegao</a>
						</li>
						<li> <a href="api/nsfw/bdsm?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Bdsm</a>
						</li>
						<li> <a href="api/nsfw/blowjob?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Blowjob</a>
						</li>
						<li> <a href="api/nsfw/cuckold?&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>CuckOld</a>
						</li>
						<li> <a href="api/nsfw/cum?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Cum</a>
						</li>
						<li> <a href="api/nsfw/ero?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Ero</a>
						</li>
						<li> <a href="api/nsfw/femdom?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Femdom</a>
						</li>
						<li> <a href="api/nsfw/foot?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Foot</a>
						</li>
						<li> <a href="api/nsfw/gangbang?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Gangbang</a>
						</li>
						<li> <a href="api/nsfw/glasses?&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Glasses</a>
						</li>
						<li> <a href="api/nsfw/hentai?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Hentai</a>
						</li>
						<li> <a href="api/nsfw/hentaigif?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Hantai Gif</a>
						</li>
						<li> <a href="api/nsfw/jahy?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Jahy</a>
						</li>
						<li> <a href="api/nsfw/masturbation?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Masturbation</a>
						</li>
						<li> <a href="api/nsfw/neko?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Neko</a>
						</li>
						<li> <a href="api/nsfw/orgy?&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Orgy</a>
						</li>
						<li> <a href="api/nsfw/panties?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Panties</a>
						</li>
						<li> <a href="api/nsfw/pussy?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Pussy</a>
						</li>
						<li> <a href="api/nsfw/thighs?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Thighs</a>
						</li>
						<li> <a href="api/nsfw/yuri?&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Yuri</a>
						</li>
						
					</ul>
				</li>
				<!--End NSFW-->

				<!--Other-->
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon icon-color-10"><i class="bx bx-images"></i>
						</div>
						<div class="menu-title">Other API</div>
					</a>
					<ul>
						<li> <a href="/api/other/ghstalk?username=zeeoneofc&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Github Stalk</a>
						</li>
						<li> <a href="/api/other/repostalk?username=zeeoneofc&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Repositori Stalk</a>
						</li>
						<li> <a href="/api/other/hilih?kata=hehe&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Hilih</a>
						</li>
						<li> <a href="/api/other/fakedata?country=china&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Fakedata</a>
						</li>
						<li> <a href="/api/other/translate?kata=pagi&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Translate</a>
						</li>
						<li> <a href="/api/other/infotsunami?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Info Tsunami</a>
						</li>
						<li> <a href="/api/other/infocuacadunia?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Cuaca Dunia</a>
						</li>
						<li> <a href="/api/other/cuacabandara?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Cuaca Bandara</a>
						</li>
						<li> <a href="/api/other/kodepos?kota=Jakarta&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Kode Pos</a>
						</li>
						<li> <a href="/api/other/coviddunia?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Covid Global</a>
						</li>
						<li> <a href="/api/other/drakorasi?search=i love u&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Drakor Asia</a>
						</li>
						<li> <a href="/api/other/covidindo?apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Covid Indonesia</a>
						</li>
						<li> <a href="/api/other/kbbi?kata=bahasa&apikey=Alphabot"><i class="bx bx-right-arrow-alt"></i>Kbbi</a>
						</li>
					</ul>
				</li>
				<!--End Other-->
				<li class="menu-label">Support</li>
				<li>
					<a href="https://themeforest.net/user/codervent" target="_blank">
						<div class="parent-icon"><i class="bx bx-support"></i>
						</div>
						<div class="menu-title">Contact</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar-wrapper-->
		<!--header-->
		<header class="top-header">
			<nav class="navbar navbar-expand">
				<div class="left-topbar d-flex align-items-center">
					<a href="javascript:;" class="toggle-btn">	<i class="bx bx-menu"></i>
					</a>
				</div>
				<div class="flex-grow-1 search-bar">
					<div class="input-group">
						<div class="input-group-prepend search-arrow-back">
							<button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i>
							</button>
						</div>
						<input type="text" class="form-control" placeholder="search" />
						<div class="input-group-append">
							<button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="right-topbar ml-auto">
					<ul class="navbar-nav">
						<li class="nav-item search-btn-mobile">
							<a class="nav-link position-relative" href="javascript:;">	<i class="bx bx-search vertical-align-middle"></i>
							</a>
						</li>
						<li class="nav-item dropdown dropdown-lg">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-toggle="dropdown">	<span class="msg-count">6</span>
								<i class="bx bx-comment-detail vertical-align-middle"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="javascript:;">
									<div class="msg-header">
										<h6 class="msg-header-title">6 New</h6>
										<p class="msg-header-subtitle">Application Messages</p>
									</div>
								</a>
								<div class="header-message-list">
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Daisy Anderson <span class="msg-time float-right">5 sec
													ago</span></h6>
												<p class="msg-info">The standard chunk of lorem</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Althea Cabardo <span class="msg-time float-right">14
													sec ago</span></h6>
												<p class="msg-info">Many desktop publishing packages</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Oscar Garner <span class="msg-time float-right">8 min
													ago</span></h6>
												<p class="msg-info">Various versions have evolved over</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Katherine Pechon <span class="msg-time float-right">15
													min ago</span></h6>
												<p class="msg-info">Making this the first true generator</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Amelia Doe <span class="msg-time float-right">22 min
													ago</span></h6>
												<p class="msg-info">Duis aute irure dolor in reprehenderit</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Cristina Jhons <span class="msg-time float-right">2 hrs
													ago</span></h6>
												<p class="msg-info">The passage is attributed to an unknown</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">James Caviness <span class="msg-time float-right">4 hrs
													ago</span></h6>
												<p class="msg-info">The point of using Lorem</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Peter Costanzo <span class="msg-time float-right">6 hrs
													ago</span></h6>
												<p class="msg-info">It was popularised in the 1960s</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">David Buckley <span class="msg-time float-right">2 hrs
													ago</span></h6>
												<p class="msg-info">Various versions have evolved over</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Thomas Wheeler <span class="msg-time float-right">2 days
													ago</span></h6>
												<p class="msg-info">If you are going to use a passage</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="user-online">
												<img src="https://via.placeholder.com/110x110" class="msg-avatar" alt="user avatar">
											</div>
											<div class="media-body">
												<h6 class="msg-name">Johnny Seitz <span class="msg-time float-right">5 days
													ago</span></h6>
												<p class="msg-info">All the Lorem Ipsum generators</p>
											</div>
										</div>
									</a>
								</div>
								<a href="javascript:;">
									<div class="text-center msg-footer">View All Messages</div>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-lg">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-toggle="dropdown">	<i class="bx bx-bell vertical-align-middle"></i>
								<span class="msg-count">8</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="javascript:;">
									<div class="msg-header">
										<h6 class="msg-header-title">8 New</h6>
										<p class="msg-header-subtitle">Application Notifications</p>
									</div>
								</a>
								<div class="header-notifications-list">
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-primary text-primary"><i class="bx bx-group"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">New Customers<span class="msg-time float-right">14 Sec
													ago</span></h6>
												<p class="msg-info">5 new user registered</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-danger text-danger"><i class="bx bx-cart-alt"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">New Orders <span class="msg-time float-right">2 min
													ago</span></h6>
												<p class="msg-info">You have recived new orders</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-shineblue text-shineblue"><i class="bx bx-file"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">24 PDF File<span class="msg-time float-right">19 min
													ago</span></h6>
												<p class="msg-info">The pdf files generated</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-cyne text-cyne"><i class="bx bx-send"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">Time Response <span class="msg-time float-right">28 min
													ago</span></h6>
												<p class="msg-info">5.1 min avarage time response</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-purple text-purple"><i class="bx bx-home-circle"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">New Product Approved <span
													class="msg-time float-right">2 hrs ago</span></h6>
												<p class="msg-info">Your new product has approved</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-warning text-warning"><i class="bx bx-message-detail"></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">New Comments <span class="msg-time float-right">4 hrs
													ago</span></h6>
												<p class="msg-info">New customer comments recived</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-success text-success"><i class='bx bx-check-square'></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">Your item is shipped <span class="msg-time float-right">5 hrs
													ago</span></h6>
												<p class="msg-info">Successfully shipped your item</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-sinata text-sinata"><i class='bx bx-user-pin'></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">New 24 authors<span class="msg-time float-right">1 day
													ago</span></h6>
												<p class="msg-info">24 new authors joined last week</p>
											</div>
										</div>
									</a>
									<a class="dropdown-item" href="javascript:;">
										<div class="media align-items-center">
											<div class="notify bg-light-mehandi text-mehandi"><i class='bx bx-door-open'></i>
											</div>
											<div class="media-body">
												<h6 class="msg-name">Defense Alerts <span class="msg-time float-right">2 weeks
													ago</span></h6>
												<p class="msg-info">45% less alerts last 4 weeks</p>
											</div>
										</div>
									</a>
								</div>
								<a href="javascript:;">
									<div class="text-center msg-footer">View All Notifications</div>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-user-profile">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-toggle="dropdown">
								<div class="media user-box align-items-center">
									<div class="media-body user-info">
										<p class="user-name mb-0">Jessica Doe</p>
										<p class="designattion mb-0">Available</p>
									</div>
									<img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-user"></i><span>Profile</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-cog"></i><span>Settings</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-tachometer"></i><span>Dashboard</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-wallet"></i><span>Earnings</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-cloud-download"></i><span>Downloads</span></a>
								<div class="dropdown-divider mb-0"></div>	<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-power-off"></i><span>Logout</span></a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-language">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-toggle="dropdown">
								<div class="lang d-flex">
									<div><i class="flag-icon flag-icon-um"></i>
									</div>
									<div><span>En</span>
									</div>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-de"></i><span>German</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-fr"></i><span>French</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-um"></i><span>English</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-in"></i><span>Hindi</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-cn"></i><span>Chinese</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag-icon flag-icon-ae"></i><span>Arabic</span></a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!--end header-->
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="row">
						<div class="col-12 col-lg-3">
							<div class="card radius-15 bg-voilet">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h2 class="mb-0 text-white">554<i class='bx bxs-up-arrow-alt font-14 text-white'></i> </h2>
										</div>
										<div class="ml-auto font-35 text-white"><i class="bx bx-cart-alt"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-white">Item Delivered</p>
										</div>
										<div class="ml-auto font-14 text-white">+23.4%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="card radius-15 bg-primary-blue">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h2 class="mb-0 text-white">114 <i class='bx bxs-down-arrow-alt font-14 text-white'></i> </h2>
										</div>
										<div class="ml-auto font-35 text-white"><i class="bx bx-support"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-white">Refund Requests</p>
										</div>
										<div class="ml-auto font-14 text-white">+14.7%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="card radius-15 bg-rose">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h2 class="mb-0 text-white">98 <i class='bx bxs-up-arrow-alt font-14 text-white'></i> </h2>
										</div>
										<div class="ml-auto font-35 text-white"><i class="bx bx-tachometer"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-white">Orders Cancelled</p>
										</div>
										<div class="ml-auto font-14 text-white">-12.9%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="card radius-15 bg-sunset">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h2 class="mb-0 text-white">208 <i class='bx bxs-up-arrow-alt font-14 text-white'></i> </h2>
										</div>
										<div class="ml-auto font-35 text-white"><i class="bx bx-user"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-white">New Users</p>
										</div>
										<div class="ml-auto font-14 text-white">+13.6%</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
							  <div class="card-body">
								<h6 class="font-weight-bold text-info text-uppercase">Your Battery</h6>
								<div class="row">
								  <div class="col-9">
									<div class="d-flex align-items-center align-self-start">
										<span id="batteryLevel"></span>
									  <h3 class="mb-0" id="percentageLevel">Waiting...</h3>
									</div>
								  </div>
								  <div class="col-3">
									<div class="icon icon-box-success ">
									  <span class="mdi mdi-battery-positive"></span>
									</div>
								  </div>
								</div>
								<font face="Original Surfer" class="text-muted font-weight-normal">Percentase Your Battery</font>
							  </div>
							</div>
						  </div>
					</div>
					<!--end row-->
					
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<div class="footer">
			<p class="mb-0">MyFileArchive - 2021 | Developed By : <a href="https://www.instagram.com/dwikinuwangsa/" target="_blank">Dwiki Nuwangsa</a>
			</p>
		</div>
		<!-- end footer -->
	</div>
	<!--start switcher-->
	<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
			<hr/>
			<h6 class="mb-0">Theme Styles</h6>
			<hr/>
			<div class="d-flex align-items-center justify-content-between">
				<div class="custom-control custom-radio">
					<input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
					<label class="custom-control-label" for="darkmode">Dark Mode</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
					<label class="custom-control-label" for="lightmode">Light Mode</label>
				</div>
			</div>
			<hr/>
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="DarkSidebar">
				<label class="custom-control-label" for="DarkSidebar">Dark Sidebar</label>
			</div>
			<hr/>
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="ColorLessIcons">
				<label class="custom-control-label" for="ColorLessIcons">Color Less Icons</label>
			</div>
		</div>
	</div>
	<!--end switcher-->
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<!--plugins-->
	<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!-- Vector map JavaScript -->
	<script src="assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-in-mill.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-au-mill.js"></script>
	<script src="assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
	<script src="assets/js/index2.js"></script>
	<!-- App JS -->
	<script src="assets/js/app.js"></script>
</body>

</html>